<form class="columns large-12 small-16 end">
    <div class="row">
        <label class="columns large-5">
            <span local-text="First Name"></span>
            <input type="text" ng-model="ctrl.user.name.first">
        </label>
        <label class="columns large-5">
            <span local-text="Last Name"></span>
            <input type="text" ng-model="ctrl.user.name.last">
        </label>
        <label class="columns large-6">
            <span local-text="Email"></span>
            <input type="text" ng-model="ctrl.user.email">
        </label>
    </div>
    <div class="row">
        <label class="columns large-6">
            <span local-text="City"></span>
            <input type="text" ng-model="ctrl.user.location.city">
        </label>
        <label class="columns large-6">
            <span local-text="State"></span>
            <input type="text" ng-model="ctrl.user.location.state">
        </label>
        <label class="columns large-4">
            <span local-text="Zip"></span>
            <input type="text" ng-model="ctrl.user.location.zip">
        </label>
    </div>
</form>

